* {
  font-family: "Inter";
}

/*******************/
/*  FORM ELEMENTS  */
/*******************/
.add-book--form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  border: 1px solid #ececec;
  border-radius: 9px;
  margin: 1rem auto 0 auto;
}

.add-book--form label {
  color: #ececec;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.add-book--form input {
  margin: 0 1rem 0 1rem;
  height: 2rem;
  outline: none;
}
