* {
  font-family: "Inter";
}

/*******************/
/*  HAS READ ICON  */
/*******************/

.has-read--icon-true,
.has-read--icon-false {
  width: 7rem;
  height: 3rem;
  border-radius: 9px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 20%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.has-read--icon-true {
  background: linear-gradient(to bottom right, #27ae60, #52be80);
}

.has-read--icon-false {
  background: linear-gradient(to bottom right, #c0392b, #cd6155);
}
