* {
  font-family: "Inter";
}

.book {
  width: 37rem;
  height: 5rem;
  background-color: #414141;
  border-radius: 9px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-bottom: 1rem;
  position: relative;
}

.book-img {
  height: 4.4rem;
  width: 4.4rem;
  margin-right: 1rem;
}

.book-info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.book-author {
  font-size: 1.2rem;
}

.has-read--icon-true,
.has-read--icon-false {
  width: 7rem;
  height: 3rem;
  border-radius: 9px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 20%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.has-read--icon-true {
  background-color: #27ae60;
}

.has-read--icon-false {
  background-color: #c0392b;
}

.delete-book--btn {
  position: absolute;
  right: 1%;
  top: 35%;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  border-radius: 9px;
}

.delete-book--btn:hover {
  background-color: #d63031;
  color: #ececec;
}

.books-list--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
