* {
  font-family: "Inter";
}

.books-list--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/*******************/
/*  BOOK ELEMENTS  */
/*******************/

.book {
  width: 37rem;
  height: 5rem;
  background-color: #414141;
  border-radius: 9px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-bottom: 1rem;
  position: relative;
}

.book-img {
  height: 4.4rem;
  width: 4.4rem;
  margin: 0.25rem 1rem 0 0;
}

.book-info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #b3b3b3;
}

.book-author {
  font-size: 1.2rem;
  color: #ccc;
}

/*******************/
/*  HAS READ ICON  */
/*******************/

.has-read--icon-true,
.has-read--icon-false {
  width: 7rem;
  height: 3rem;
  border-radius: 9px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 20%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.has-read--icon-true {
  background: linear-gradient(to bottom right, #27ae60, #52be80);
}

.has-read--icon-false {
  background: linear-gradient(to bottom right, #c0392b, #cd6155);
}

/*******************/
/*      BUTTONS    */
/*******************/

.delete-book--btn {
  position: absolute;
  right: 1%;
  top: 35%;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.delete-book--btn:hover {
  background-color: #d63031;
  color: #ececec;
  transform: rotate(180deg);
}
